/* footer.css */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to right, #d1a563, #599eed); /* Gradient from green to blue */
    color: #ffffff;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-right {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }
  