/* header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, #f6ff4e, #599eed); /* Gradient from green to blue */
  color: #ffffff;
}
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 175px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
}

  
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  .nav-link {
    font-size: 2rem; /* Larger font size for the navigation links */
    color: #fb8500; /* Link color */
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #ffb703; /* Hover color */
  }
  